.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;
}

.notes-board {
  display: flex;
  margin-right: 1rem;
}

.container-note-form {
  align-self: flex-start;
  text-align: center;
  padding-top: 2rem;
}

.counters {
  display: flex;
  flex-direction: column;
}

.error-container {
  text-align: center;
  font-size: 20px;
}

.error-container button {
  border-radius: 10px;
  background: #118ab2;
  padding: 8px;
}
